html {
	font-weight: bold;
	font-family: Arial, san-serif;
}

h1 {
	padding: 0;
	margin: 0;
}

hr {
	border: 0;
	color: #81CEFF;
	background-color: #81CEFF;
	height: 3px;
}

.tb {
	font-weight: bold;
	font-family: Arial, san-serif;
	text-align: center;
	background: transparent;
	border:1px solid #81CEFF;
	border-radius: 5px;
	color: #81CEFF;
}

.tb option {
	background: #2E3F73;
}

.tb:focus {
	border: 3px solid #FFCE34;
}

.block {
	padding: 10px;
	margin: 10px;
	float: left;
}

.left {
	border: 5px solid #FFCE34;
	border-radius: 10px;
	background: #2E3F73;
	color: #81CEFF;
}

.stats {
	font-weight: bold;
}

.cf:after {
	content: "";
	display: table;
	clear: both;
}